<section class="row d-flex justify-content-center mb-3">
    <form class="col-12 container d-flex justify-content-between flex-wrap">
        <fieldset class="col-12 mb-3">
            <section class="form-control d-flex">
                <button class="bg-white text-secondary p-1 border-0" type="submit" id="search">
                    <svg height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </button>
                <input aria-label="Search" placeholder="Zoeken..." type="search" name="cardLookup" id="cardLookup" class="form-control border-0" value="<%= cardLookup %>" />
            </section>
        </fieldset>
        <fieldset class="col-12 col-md-5 d-flex flex-wrap justify-content-between">
            <legend class="text-center col-12 ctext-white ch1">Filter</legend>
            <div class="form-group col-12 mb-2">
                <select class="form-select" name="type" id="type" aria-placeholder="Type">
                    <option <% if (type==="artifact" ) { %>
                        selected
                        <% } %>
                            value="artifact">Artifact
                    </option>
                    <option <% if (type==="basic" ) { %>
                        selected
                        <% } %>
                            value="basic">Basic
                    </option>
                    <option <% if (type==="battle" ) { %>
                        selected
                        <% } %>
                            value="battle">Battle
                    </option>
                    <option <% if (type==="conspiracy" ) { %>
                        selected
                        <% } %>
                            value="conspiracy">Conspiracy
                    </option>
                    <option <% if (type==="creature" ) { %>
                        selected
                        <% } %>
                            value="creature">Creatue
                    </option>
                    <option <% if (type==="dungeon" ) { %>
                        selected
                        <% } %>
                            value="dungeon">Dungeon
                    </option>
                    <option <% if (type==="eaturecray" ) { %>
                        selected
                        <% } %>
                            value="eaturecray">Eaturecray
                    </option>
                    <option <% if (type==="enchantment" ) { %>
                        selected
                        <% } %>
                            value="enchantment">Enchantment
                    </option>
                    <option <% if (type==="ever" ) { %>
                        selected
                        <% } %>
                            value="ever">Ever
                    </option>
                    <option <% if (type==="host" ) { %>
                        selected
                        <% } %>
                            value="host">Host
                    </option>
                    <option <% if (type==="instant" ) { %>
                        selected
                        <% } %>
                            value="instant">Instant
                    </option>
                    <option <% if (type==="land" ) { %>
                        selected
                        <% } %>
                            value="land">Land
                    </option>
                </select>
            </div>
            <label for="mana-symbol" class="col-12 ch1 text-center ctext-white fs-3">Soort mana</label>
            <button type="button" class="rounded-circle border-0 cbg-success mana-checkbox" id="whiteMana" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="White mana (W)" style="width: 40px; height: 40px;" data-cbs-checked="<%= whiteManaChecked %>">
                <img src="assets/images/mana_symbols/W.svg" alt="mana-symbol-W">
            </button>
            <button class="rounded-circle border-0 cbg-success mana-checkbox" id="blueMana" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Blue mana (U)" style="width: 40px; height: 40px;" data-cbs-checked="<%= blueManaChecked %>">
                <img src="assets/images/mana_symbols/U.svg" alt="mana-symbol-U">
            </button>
            <button class="rounded-circle border-0 cbg-success mana-checkbox" id="blackMana" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Black mana (B)" style="width: 40px; height: 40px;" data-cbs-checked="<%= blackManaChecked %>">
                <img src="assets/images/mana_symbols/B.svg" alt="mana-symbol-B">
            </button>
            <button class="rounded-circle border-0 cbg-success mana-checkbox" id="greenMana" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Green mana (G)" style="width: 40px; height: 40px;" data-cbs-checked="<%= greenManaChecked %>">
                <img src="assets/images/mana_symbols/G.svg" alt="mana-symbol-G">
            </button>
            <button class="rounded-circle border-0 cbg-success mana-checkbox" id="redMana" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Red mana (R)" style="width: 40px; height: 40px;" data-cbs-checked="<%= redManaChecked %>">
                <img src="assets/images/mana_symbols/R.svg" alt="mana-symbol-R">
            </button>
            <button class="rounded-circle border-0 cbg-success mana-checkbox" id="colorlessMana" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Colorless mana (C)" style="width: 40px; height: 40px;" data-cbs-checked="<%= colorlessManaChecked %>">
                <img src="assets/images/mana_symbols/C.svg" alt="mana-symbol-C">
            </button>
            <input type="hidden" name="whiteManaChecked" id="whiteManaChecked" value="true">
            <input type="hidden" name="blueManaChecked" id="blueManaChecked" value="true">
            <input type="hidden" name="blackManaChecked" id="blackManaChecked" value="true">
            <input type="hidden" name="greenManaChecked" id="greenManaChecked" value="true">
            <input type="hidden" name="redManaChecked" id="redManaChecked" value="true">
            <input type="hidden" name="colorlessManaChecked" id="colorlessManaChecked" value="true">

        </fieldset>
        <fieldset class="col-12 col-md-5">
            <legend class="text-center ctext-white ch1">Sorteer</legend>
            <div class="form-group">
                <select class="form-select" name="sort" id="sort">
                    <option value="blank">Sorteer op ...</option>
                    <option value="color">Color</option>
                    <option value="colorWeight">Color Weight</option>
                    <option value="...">...</option>
                </select>
            </div>
        </fieldset>
    </form>
</section>