<nav aria-label="Page navigation example" class="d-flex align-items-center justify-content-center">
    <ul class="pagination">
        <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
            <a class="page-link cbg-dark ctext-white" href="?<%= filterUrl %>&page=1" aria-label="First">
                <i class="bi bi-caret-left-fill"></i><i class="bi bi-caret-left-fill"></i>
            </a>
        </li>
        <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
            <a class="page-link cbg-dark ctext-white" href="?<%= filterUrl %>&page=<%= page - 1 %>" aria-label="Previous">
                <i class="bi bi-caret-left-fill"></i>
            </a>
        </li>
        <% for (let i=Math.max(1, page - 2); i <=Math.min(page + 2, totalPages); i++) { %>
            <li class="page-item <%= i === page ? 'active' : '' %>" style="color: #ff8b43; background-color: #ff8b43;">
                <a class="page-link px-2 cbg-dark ctext-white" href="?<%= filterUrl %>&page=<%= i %>">
                    <%= i %>
                </a>
            </li>
            <% } %>
                <li class="page-item <%= page >= totalPages ? 'disabled' : '' %>">
                    <a class="page-link cbg-dark ctext-white" href="?<%= filterUrl %>&page=<%= page + 1 %>" aria-label="Next">
                        <i class="bi bi-caret-right-fill"></i>
                    </a>
                </li>
                <li class="page-item <%= page >= totalPages ? 'disabled' : '' %>">
                    <a class="page-link cbg-dark ctext-white" href="?<%= filterUrl %>&page=<%= totalPages %>" aria-label="Last">
                        <i class="bi bi-caret-right-fill"></i><i class="bi bi-caret-right-fill"></i>
                    </a>
                </li>
    </ul>
</nav>