<%- include("partials/header") %>

<main>
  <section class="mainDeck">
    <section class="container px-4 px-lg-5">
      <section class="row gx-4 gx-lg-5 align-items-center py-5">
        <section class="col-12 d-flex gap-3 flex-wrap">
          <img
            class="img-fluid rounded col-12 col-lg-5 mb-4 mb-lg-7"
            src="<%= selectedDeck.deckImageUrl %>"
            alt="deck placeholder"
          />
          <section class="col-lg-5">
            <h1 class="font-weight-light text-light ch1">
              <%= selectedDeck.deckName %>
            </h1>
            <ul class="text-light">
              <li>Aantal kaarten: <%= selectedDeck.cards.length %>/60</li>
              <br />
              <li>Aantal landkaarten: <%= amountLandcards %></li>
              <br />
              <li>
                Gemiddelde manacost: <%= isNaN(avgManaCost) ? 0 : avgManaCost %>
              </li>
            </ul>

            <br />

            <a href="/editDeck/<%= selectedDeck.deckName %>"
              ><button type="button" class="btn btn-lg btn-dark ctext-white">
                Wijzig deck
              </button></a
            >
          </section>
        </section>
      </section>
    </section>
  </section>

  <section class="tips">
    <article class="card text-white bg-secondary my-5 py-4 text-center mx-5">
      <article class="tip-body">
        <p class="text-white m-0 ch1 fs-3">Tip van de developer:</p>
        <p><%= tip.tip %></p>
      </article>
    </article>
  </section>

  <% if (cards.size === 0) { %>
  <p class="ctext-white ch1 fs-1 text-center my-5">
    Er zitten nog geen kaarten in dit deck.
  </p>
  <% } else { %> <%- include("partials/pagination") %> 
  <section class="cardsInDeck d-flex justify-content-center">
    <section
      class="container gx-4 gx-lg-5 mx-5 d-flex flex-wrap col-10 justify-content-center"
    ><% for (const [card,
  amount] of cards) { %>
      <article class="col-12 col-md-6 col-lg-4 col-xxl-4 mb-5 px-2 px-2">
        <article
          class="card h-100 p-3"
          style="
            background-image: url(/assets/images/background/MTGTest.jpg);
            background-size: cover;
          "
        >
          <article
            class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>"
          >
            <a href="#" class="p-0">
              <img
                src="<%= card.imageUrl %>"
                class="rounded-5 col-12"
                style="width: 100%"
                alt=""
              />
            </a>
          </article>
          <h2 class="card-title text-white ch1 mt-2 text-center">
            aantal : <%= amount %>
          </h2>
        </article>
      </article>
       <% } %> 
    </section>
  </section><%- include("partials/pagination") %><% } %>
</main>

<%- include("partials/footer") %>
