<%- include("partials/header") %>
    <main class="d-flex flex-wrap align-items-between justify-content-center ctext-white" style="min-height: 100vh;">
        <section class="d-flex flex-wrap col-12 col-md-10 col-lg-8 m-3">
            <form action="" class="col-12 col-sm-4 pt-2 p-2">
                <select name="decks" id="decks" class="form-select p-2">
                    <% for (const deck of allDecks) { %>
                        <option <% if (selectedDeck.deckName===deck.deckName ) { %>
                            selected
                            <% } %>
                                value="<%= deck.deckName %>"><%= deck.deckName %>
                        </option>
                        <% } %>

                </select>
            </form>
            <form action="" class="col-12 col-sm-4 p-2">
                <section class="form-control d-flex p-1">
                    <button class="bg-white text-secondary p-1 border-0" type="submit" id="search">
                        <svg height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </button>
                    <input aria-label="Search" placeholder="Zoeken..." type="search" name="cardLookup" id="cardLookup" class="form-control border-0 p-0" />
                </section>
            </form>
            <section class="col-12 col-sm-4 p-2">
                <a class="btn btn-dark col-12 p-2" data-bs-toggle="offcanvas" href="#pulledCards" role="button" aria-controls="pulledCards">
                    Getrokken kaarten
                </a>
            </section>
        </section>

        <section class="d-flex align-items-between justify-content-center flex-wrap mb-3 col-12 col-sm-8 col-md-4">
            <a class="btn d-flex justify-content-center flex-wrap ctext-white p-0 w-100">
                <% if (unpulledCards.length==0){ %>
                    <article class="p-2 col-9">
                        <article class="card mtg-card rounded-5">
                            <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5" style="width: 100%;" alt="">
                        </article>
                    </article>
                    <% } else {%>
                        <article class="p-2 col-9">
                            <article class="card mtg-card rounded-5">
                                <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5" style="width: 100%;" alt="">
                            </article>
                        </article>
                        <% } %>
            </a>
            <p class="col-12 text-center ch1 mt-2 fs-2">56/60</p>
        </section>

        <section class="d-flex flex-wrap align-items-evenly justify-content-center p-3 text-center col-12 col-md-4">
            <article class="col-12 mb-5">
                <h3>Kans om kaart te trekken 3.33%</h3>
                <p>Deze kaart zit 2 keer in het deck</p>
            </article>
            <article>
                <button class="btn btn-dark mb-3 col-12 p-3">Trek een kaart</button>
                <button class="btn btn-danger col-12 p-3">Reset</button>
            </article>
        </section>

        <section class="d-flex align-items-between justify-content-center flex-wrap mb-3 col-12 col-sm-8 col-md-4">
            <a class="btn d-flex justify-content-center flex-wrap ctext-white p-0 w-100">
                <% if (unpulledCards.length==0){ %>
                    <article class="p-2 col-9">
                        <article class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                            <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5" style="width: 100%;" alt="">
                        </article>
                    </article>
                    <% } else {%>
                        <article class="p-2 col-9">
                            <article class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                                <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5" style="width: 100%;" alt="">
                            </article>
                        </article>
                        <% } %>
            </a>
            <p class="col-12 text-center ch1 mt-2 fs-2">56/60</p>
        </section>

        <!-- Pulled Cards Offcanvas -->
        <section class="offcanvas offcanvas-end bg-secondary ctext-white" tabindex="-1" id="pulledCards" aria-labelledby="pulledCardsLabel">
            <section class="offcanvas-header cbg-primary">
                <h1 class="ch1 fs-2 ctext-secondary">Getrokken kaarten</h1>
                <button class="btn-close text-reset bg-danger" type="button" data-bs-toggle="offcanvas" aria-label="close">
                </button>
            </section>
            <section class="offcanvas-body">
                <%- include("partials/filterAndSortCards") %>
                    <%- include("partials/paginationShort") %>
                        <% for (const card of pulledCards) { %>
                            <article class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
                                <article class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal" data-bs-name="<%= card.name %>" data-bs-manaCost="<%= card.manaCost %>" data-bs-cmc="<%= card.cmc %>" data-bs-colorId="<%= card.colorIdentity %>" data-bs-rarity="<%= card.rarity %>" data-bs-imageUrl="<%= card.imageUrl %>" class="p-0">
                                        <img src="<%= card.imageUrl %>" class="rounded-5" style="width: 100%;" alt="">
                                    </a>
                                </article>
                            </article>
                            <% } %>
                                <%- include("partials/paginationShort") %>
            </section>
        </section>
    </main>
    <%- include("partials/footer") %>