<%- include("partials/header") %>
    <main class="d-flex flex-wrap align-items-between justify-content-center ctext-white container" style="min-height: 100vh;">
        <section class="d-flex flex-wrap col-12 col-md-10 col-lg-8 m-3">
            <form action="" class="col-12 col-sm-4 pt-2 p-2">
                <select name="decks" id="decks" class="form-select p-2">
                    <% for (const deck of allDecks) { %>
                        <option <% if (selectedDeck.deckName===deck.deckName ) { %>
                            selected
                            <% } %>
                                value="<%= deck.deckName %>"><%= deck.deckName %>
                        </option>
                        <% } %>

                </select>
            </form>
            <form action="" class="col-12 col-sm-4 p-2">
                <section class="form-control d-flex p-1">
                    <button class="bg-white text-secondary p-1 border-0" type="submit" id="search">
                        <i class="bi bi-search"></i>
                    </button>
                    <input aria-label="Search" placeholder="Zoeken..." type="search" name="cardLookup" id="cardLookup" class="form-control border-0 p-0" />
                </section>
            </form>
            <section class="col-12 col-sm-4 p-2">
                <a class="btn btn-dark col-12 p-2" href="#pulledCards">
                    Getrokken kaarten
                </a>
            </section>
        </section>

        <section class="d-flex align-items-between justify-content-center flex-wrap mb-3 col-12 col-sm-8 col-md-4">
            <a class="btn btnPullCard border-0 d-flex justify-content-center flex-wrap ctext-white col-9 col-md-12 col-lg-9 p-0">
                <% if (unpulledCards.length==0 ){ %>
                    <article class="p-2 col-12">
                        <article class="card rounded-5 p-1 border-5 border-light cbg-transparent">
                            <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5 invisible" style="width: 100%;" alt="">
                        </article>
                    </article>
                    <% } else {%>
                        <article class="p-2 col-12">
                            <article class="card mtg-card rounded-5 p-1 border-5 border-light cbg-transparent">
                                <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5" style="width: 100%;" alt="">
                            </article>
                        </article>
                        <% } %>
            </a>
            <p class="col-12 text-center ch1 mt-2 fs-2">
                <%= unpulledCards.length %>/<%= selectedDeck.cards.length %>
            </p>
        </section>

        <section class="d-flex flex-wrap align-items-evenly justify-content-center p-3 text-center col-12 col-md-4">
            <article class="col-12 mb-5">
                <h3>Kans om kaart te trekken 3.33%</h3>
                <p>Deze kaart zit 2 keer in het deck</p>
            </article>
            <form action="/drawtest" method="GET" id="actionForm">
                <input type="hidden" name="action" id="actionField" value="">
                <input type="hidden" name="decks" id="hiddenSelectedDeck">
                <button type="button" class="btn btn-dark mb-3 col-12 p-3 btnPullCard" id="btnPullCard"><i class="bi bi-file-plus"></i> Trek een kaart</button>
                <button type="button" class="btn btn-danger col-12 p-3 btnResetCards" id="btnResetCards"><i class="bi bi-shuffle"></i> Reset and shuffle</button>
            </form>
        </section>

        <section class="d-flex align-items-between justify-content-center flex-wrap mb-3 col-12 col-sm-8 col-md-4">
            <a class="btn btnResetCards border-0 d-flex justify-content-center flex-wrap ctext-white col-9 col-md-12 col-lg-9 p-0">
                <% if (pulledCards.length==0){ %>
                    <article class="p-2 col-12">
                        <article class="card rounded-5 p-1 border-5 border-light cbg-transparent">
                            <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=97066&type=card" class="rounded-5 invisible" style="width: 100%;" alt="">
                        </article>
                    </article>
                    <% } else {%>
                        <article class="p-2 col-12">
                            <article class="card mtg-card rounded-5 p-1 border-5 border-light cbg-transparent <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                                <img src="<%= card.imageUrl %>" class="rounded-5" style="width: 100%;" alt="">
                            </article>
                        </article>
                        <% } %>
            </a>
            <p class="col-12 text-center ch1 mt-2 fs-2">
                <%= pulledCards.length %>/<%= selectedDeck.cards.length %>
            </p>
        </section>

        <section class="mt-5">
            <h1 class="ch1 mb-3 fs-2 ctext-secondary" id="pulledCards">Getrokken kaarten</h1>
            <%- include("partials/filterAndSortCards") %>
                <%- include("partials/pagination") %>
                    <section class="d-flex flex-wrap justify-content-evenly">
                        <% if (pulledCards.length==0) { %>
                            <h1 class="ch1 ctext-secondary text-center col-12">!OOPS... Geen kaarten gevonden!</h1>
                            <h1 class="ch1 fs-3 ctext-secondary text-center col-12">Probeer je filter aan te passen</h1>
                            <% } else { %>
                                <% for (const card of pulledCards) {%>
                                    <article class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
                                        <article class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal" data-bs-name="<%= card.name %>" data-bs-manaCost="<%= card.manaCost %>" data-bs-cmc="<%= card.cmc %>" data-bs-colorId="<%= card.colorIdentity %>" data-bs-rarity="<%= card.rarity %>" data-bs-imageUrl="<%= card.imageUrl %>" class="p-0">
                                                <img src="<%= card.imageUrl %>" class="rounded-5" style="width: 100%;" alt="">
                                            </a>
                                        </article>
                                    </article>
                                    <% } %>
                                        <% } %>
                    </section>
                    <%- include("partials/pagination") %>
        </section>
    </main>
    <%- include("partials/footer") %>