<%- include("partials/header") %>

<section class="d-flex justify-content-center align-items-center">
  <section
    class="rounded ctext-white col-12 p-5 col-lg-10 col-md-6 my-5 col-sm-8"
    style="background-color: #00000099"
  >
    <article class="changeDeckName mb-3">
      <h5 id="deckName" class="text-center ch1 fs-1"><%= selectedDeck.deckName %></h5>

      <form
        action="/changeDeckName"
        method="post"
        id="deckNameForm"
        class="deckNameForm d-flex flex-wrap"
      >
        <label for="deckNameInput" class="col-12 mb-3 ch1 fs-4 form-label">Decknaam veranderen</label>

        <input
          type="text"
          name="deckNameInput"
          id="deckNameInput"
          placeholder="Mijn deck"
          class="rounded-start col-10 py-2 ps-2"/>

          <input id="oldDeckName" type="hidden" name="oldDeckName" value="<%= selectedDeck.deckName %>">

        <button
          type="submit"
          class="col-2 rounded-end border-0 cbg-white">Change name</button>
      </form>
    </article>
    
    <section class="SelectionCards d-flex flex-wrap mb-3">
      <% for (const card of cards) { %>
      <article class="d-flex flex-wrap col-12 col-lg-4 p-1">
        <article
          class="card mtg-card rounded-5 p-1 col-12 mb-3 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>"
        >
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#cardModal"
            data-bs-name="<%= card.name %>"
            data-bs-manaCost="<%= card.manaCost %>"
            data-bs-cmc="<%= card.cmc %>"
            data-bs-colorId="<%= card.colorIdentity %>"
            data-bs-rarity="<%= card.rarity %>"
            data-bs-imageUrl="<%= card.imageUrl %>"
            class="p-0"
          >
            <img
              src="<%= card.imageUrl %>"
              class="rounded-5 col-4"
              style="width: 100%"
              alt=""
            />
          </a>
        </article>
        <form action="/removeCardFromDeck/<%= selectedDeck.deckName %>/<%= encodeURIComponent(card.name) %>" method="post">
          <button type="submit"><i class="bi bi-dash-circle-fill col-6 text-center fs-3"></i></button>
        </form>
        <form action="/addCardTooDeck/<%= selectedDeck.deckName %>/<%= encodeURIComponent(card.name) %>" method="post">
          <button type="submit"><i class="bi bi-plus-circle-fill col-6 text-center fs-3"></i></button>
        </form>
      </article>
      <% } %>
    </section>

    <%- include("partials/pagination") %>
  </section>
</section>

<%- include("partials/footer") %>
