<%- include("partials/header") %>
    <main class="p-3 container">
        <%- include("partials/filterAndSortCards") %>
            <%- include("partials/pagination") %>
                <section class="container" id="cards_animation">
                    <section class="d-flex flex-wrap justify-content-evenly">
                        <% let count=0; let i=0; %>
                            <!-- Insert if statement to check if there are cards to be displayed, else show no cards found -->
                            <% for (const card of cards) {%>
                                <% if (card.imageUrl) { %>
                                    <article class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
                                        <article class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal" data-bs-name="<%= card.name %>" data-bs-manaCost="<%= card.manaCost %>" data-bs-cmc="<%= card.cmc %>" data-bs-colorId="<%= card.colorIdentity %>" data-bs-rarity="<%= card.rarity %>" data-bs-imageUrl="<%= card.imageUrl %>" class="p-0">
                                                <img src="<%= card.imageUrl %>" class="rounded-5" style="width: 100%;" alt="">
                                            </a>
                                        </article>
                                    </article>
                                    <% count++ %>
                                        <% } %>
                                            <% i++ %>
                                                <% } %>
                    </section>
                </section>

                <%- include("partials/pagination") %>
    </main>
    <section class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <section class="modal-dialog modal-lg">
            <section class="modal-content ctext-white cbg-primary">
                <section class="modal-header cbg-dark border-0">
                    <h1 class="modal-title ctext-white fs-6 col-11" id="infoModalLabel">
                        Speluitleg</h1>
                    <button type="button" class="btn-close cbg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </section>
                <section class="modal-body">
                    <h3 class="ch1 fs-2">Over Magic The Gathering</h3>
                    <p> Hier kun je alles leren over het spel en je decks beheren. Hier
                        zijn enkele functies die je kunt gebruiken
                    </p>
                    <h3 class="ch1">Speluitleg</h3>
                    <p>
                        Magic the Gathering is een strategisch kaartspel waarbij spelers elkaar proberen te verslaan door spreuken
                        te casten, wezens op te roepen en hun tegenstanders levenspunten te verminderen.
                    </p>
                    <h3 class="ch1">Kaarten zoeken</h3>
                    <p>
                        Gebruik de zoekfunctie om kaarten te vinden op basis van naam, kleur, type, of andere kenmerken. Zoek naar
                        specifieke kaarten om je deck te verbeteren.
                    </p>
                    <h3 class="ch1">Deck beheren</h3>
                    <p>
                        Voeg kaarten toe aan je deck, bekijk de kaarten in je deck en pas je decks aan om de perfecte strategie te
                        creëren.
                    </p>
                    <h3 class="ch1">Deck simuleren</h3>
                    <p>
                        Gebruik de decksimulator om willekeurige kaarten te trekken en je kansen te beoordelen. Dit helpt je om de
                        consistentie van je deck te optimaliseren en te zien hoe het presteert in verschillende scenario's.
                    </p>
                </section>
                <section class="modal-footer justify-content-between">
                    <form>
                        <input type="checkbox" name="dontShowAgain" id="dontShowAgain">
                        <label for="dontShowAgain">Laat dit bericht niet meer zien</label>
                    </form>
                    <button type="button" class="btn btn-dark bg-dark" data-bs-dismiss="modal" id="CloseInfo">Ik begrijp
                        het</button>
                </section>
            </section>
        </section>
    </section>
    <section class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
        <section class="modal-dialog modal-lg">
            <section class="modal-content ctext-white cbg-primary">
                <section class="modal-header cbg-dark border-0">
                    <h1 class="modal-title ctext-white fs-6 col-11" id="cardModalLabel">
                    </h1>
                    <button type="button" class="btn-close cbg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </section>
                <section class="modal-body d-flex flex-wrap">
                    <section class="col-12 col-md-6">
                        <article id="cardModalBorderElement">
                            <img class="rounded-4" id="cardModalImage" style="width: 100%;" alt="">
                        </article>
                    </section>
                    <section class="col-12 col-md-6 d-flex flex-column justify-content-between p-2">
                        <article class="d-flex flex-column gap-2">
                            <div>
                                <p class="mb-0">kaartnaam: </p>
                                <p id="cardModalCardname"></p>
                            </div>
                            <div>
                                <p class="mb-0">manakost: </p>
                                <div class="d-flex gap-2" id="cardModalManaCost"></div>
                            </div>
                            <div>
                                <p class="mb-0">Omgevormde manakost: </p>
                                <div class="d-flex gap-2" id="cardModalCmc"></div>
                            </div>
                            <div>
                                <p class="mb-0">Kleur identiteit: </p>
                                <div class="d-flex gap-2" id="cardModalColorId"></div>
                            </div>
                        </article>
                        <article>
                            <div class="mt-2" style="height: 3rem;" id="AlertPlaceHolder"></div>
                        </article>
                        <form class="" action="">
                            <label class="form-control-label" for="deck">Voeg toe aan deck</label>
                            <select class="form-select" name="deck" id="deck">
                                <option value="deck1">deck1</option>
                                <option value="deck1">deck2</option>
                                <option value="deck1">deck3</option>
                            </select>

                            <button type="button" class="w-100 btn btn-dark mt-3">
                                <i class="bi bi-plus"></i>
                                Voeg toe
                            </button>
                        </form>
                    </section>
                </section>
                <section class="modal-footer justify-content-between">
                </section>
            </section>
        </section>
    </section>
    <%- include("partials/footer") %>