<%- include("partials/header") %>
    <main class="p-3 container">
        <%- include("partials/filterAndSortCards") %>
            <%- include("partials/pagination") %>
                <section class="container" id="cards_animation">
                    <section class="d-flex flex-wrap justify-content-evenly">
                        <% if (cards.length==0) { %>
                            <h1 class="ch1 ctext-secondary text-center col-12">!OOPS... Geen kaarten gevonden!</h1>
                            <h1 class="ch1 fs-3 ctext-secondary text-center col-12">Probeer je filter aan te passen</h1>
                            <% } else { %>
                                <% for (const card of cards) {%>
                                    <article class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
                                        <article class="card mtg-card rounded-5 p-1 <%= card.rarity == 'Common' ? 'cbg-white' : card.rarity == 'Uncommon' ? 'cbg-warning-l' : card.rarity == 'Rare' ? 'cbg-yellow' : card.rarity == 'Mythic' ? 'cbg-danger' : 'cbg-success' %>">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal" data-bs-name="<%= card.name %>" data-bs-manaCost="<%= card.manaCost %>" data-bs-cmc="<%= card.cmc %>" data-bs-colorId="<%= card.colorIdentity %>" data-bs-rarity="<%= card.rarity %>" data-bs-imageUrl="<%= card.imageUrl %>" class="p-0">
                                                <img src="<%= card.imageUrl %>" class="rounded-5" style="width: 100%;" alt="">
                                            </a>
                                        </article>
                                    </article>
                                    <% } %>
                                        <% } %>
                    </section>
                </section>

                <%- include("partials/pagination") %>
    </main>
    <section class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <section class="modal-dialog modal-lg">
            <section class="modal-content ctext-white cbg-primary">
                <section class="modal-header cbg-dark border-0">
                    <h1 class="modal-title ctext-white fs-6 col-11" id="infoModalLabel">
                        Speluitleg</h1>
                    <button type="button" class="btn-close cbg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </section>
                <section class="modal-body">
                    <h3 class="ch1 fs-2">Over Magic The Gathering</h3>
                    <p> Hier kun je alles leren over het spel en je decks beheren. Hier
                        zijn enkele functies die je kunt gebruiken
                    </p>
                    <h3 class="ch1">Speluitleg</h3>
                    <p>
                        Magic the Gathering is een strategisch kaartspel waarbij spelers elkaar proberen te verslaan door spreuken
                        te casten, wezens op te roepen en hun tegenstanders levenspunten te verminderen.
                    </p>
                    <h3 class="ch1">Kaarten zoeken</h3>
                    <p>
                        Gebruik de zoekfunctie om kaarten te vinden op basis van naam, kleur, type, of andere kenmerken. Zoek naar
                        specifieke kaarten om je deck te verbeteren.
                    </p>
                    <h3 class="ch1">Deck beheren</h3>
                    <p>
                        Voeg kaarten toe aan je deck, bekijk de kaarten in je deck en pas je decks aan om de perfecte strategie te
                        creëren.
                    </p>
                    <h3 class="ch1">Deck simuleren</h3>
                    <p>
                        Gebruik de decksimulator om willekeurige kaarten te trekken en je kansen te beoordelen. Dit helpt je om de
                        consistentie van je deck te optimaliseren en te zien hoe het presteert in verschillende scenario's.
                    </p>
                </section>
                <section class="modal-footer justify-content-between">
                    <form>
                        <input type="checkbox" name="dontShowAgain" id="dontShowAgain">
                        <label for="dontShowAgain">Laat dit bericht niet meer zien</label>

                        <button type="submit" class="btn btn-dark bg-dark" data-bs-dismiss="modal" id="CloseInfo">Ik begrijp
                            het
                        </button>
                    </form>
                </section>
            </section>
        </section>
    </section>
    <%- include("partials/cardsModal") %>
        <%- include("partials/footer") %>